extends layout

block content
    h1 #{title}
    form(method='POST', action='/tasks/edit/'+task._id)
        #form-group
            label Title:
            input.form-control(name='title', type='text', value=tasks.title)
        #form-group
            label Author:
            input.form-control(name='author', type='text', value=tasks.author)
        #form-group
            label Body:
            textarea.form-control(name='body')= tasks.body
        br
        input.btn.btn-primary(type='submit',value='Submit')