.list-group {
  margin-top: 20px;
}
.board-image {
  max-height: 20rem;
}
.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-error{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success_msg{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.complited {
  background-color: lightgreen;  
}
.row.co-btn{
  display:flex ;
  align-items: center;
}
.rm-btn{
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}
